@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include lg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left" "right";
  }
  &__left {
    grid-area: left;
    display: flex;
    align-items: center;
    gap: 33px;
    @include lg {
      justify-content: space-between;
    }
    &-socials {
      display: flex;
      gap: 10px;
    }
  }
  &__right {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include lg {
      display: grid;
      grid-template-columns: 69px 1fr;
      grid-template-areas: "cart btn burger";
      gap: 20px;
    }
    &-nav {
      position: relative;
      .link {
        cursor: pointer;
        padding: 24px;
        font-family: $font-main;
        font-size: 17px;
        color: $color-light;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.2s;
        letter-spacing: .01em;
        @include xl {
          padding: 20px;
          font-size: 16px;
        }
        &:hover {
          color: $color-accent;
        }
        &:active {
          color: $color-accent;
        }
        &.pages {
          &::after {
            content: "\2b9f";
            padding-left: 5px;
          }
        }
      }
      .dropdown {
        position: absolute;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "Pages Utility";
        color: $color-primary;
        background-color: white;
        border-radius: 5px;
        border: 2px solid white;
        box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.17);
        top: 42px;
        display: none;
        transition: all 0.5s;
        &.show {
          display: grid;
        }
        .right {
          grid-area: Pages;
          display: flex;
          flex-direction: column;
          justify-self: center;
        }
        .left {
          grid-area: Utility;
          display: flex;
          flex-direction: column;
          justify-self: center;
        }
        h5 {
          padding: 24px;
        }
        .link {
          color: $color-primary;
          &:hover {
            color: $color-accent
          }
        }
      }
    }
    &-cart {
      grid-area: cart;
      padding: 24px;
      justify-self: start;
    }
    &-btn {
      grid-area: btn;
      padding: 24px 0 24px 24px;
      justify-self: start;
      @include lg {
        padding: 0;
      }
    }
    &-burger {
      grid-area: burger;
      justify-self: end;
    }
  }
}