<div class="header">
  <div class="header__wrapper"></div>
  <div class="header__left">
    <div class="header__left-logo">
      <app-logo></app-logo>
    </div>
    <div class="header__left-socials">
      <app-social-icon [icon]="facebook"></app-social-icon>
      <app-social-icon [icon]="twitter"></app-social-icon>
      <app-social-icon [icon]="linkedin"></app-social-icon>
    </div>
  </div>
  <div class="header__right">
    <div *ngIf="screenWidth > 992" class="header__right-nav">
      <a class="link" routerLink="home">Home</a>
      <span class="link pages" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">Pages</span>
      <a class="link" routerLink="about">About</a>
      <a class="link" routerLink="contact">Contact</a>
      <div class="dropdown" [class.show]="isDropDownOpen" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
        <div class="right">
          <h5>Pages</h5>
          <a class="link" routerLink="articles">Articles</a>
          <a class="link" routerLink="story">Our story</a>
          <a class="link" routerLink="product">Product Single</a>
        </div>
        <div class="left">
          <h5>Utility Pages</h5>
          <a class="link" routerLink="not-found">404 Page</a>
          <a class="link" routerLink="log-in">Password Protected</a>
          <a class="link" routerLink="changelog">Changelog</a>
        </div>
      </div>
    </div>
    <div class="header__right-cart">
      <app-cart></app-cart>
    </div>
    <div *ngIf="screenWidth > 576" class="header__right-btn">
      <app-btn-accent></app-btn-accent>
    </div>
    <div *ngIf="screenWidth <= 992" class="header__right-burger">
      <app-burger></app-burger>
    </div>
</div>