<div class="footer">
  <div class="footer__wrapper"></div>
  <div class="footer__logo">
    <app-logo></app-logo>
    <div class="social">
      <app-social-icon [icon]="facebook" [position]="'footer'"></app-social-icon>
      <app-social-icon [icon]="twitter" [position]="'footer'"></app-social-icon>
      <app-social-icon [icon]="linkedin" [position]="'footer'"></app-social-icon>
      <app-social-icon [icon]="instagram" [position]="'footer'"></app-social-icon>
    </div>
  </div>
  <div class="footer__links">
    <h5>Explore</h5>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="home" class="footer__links-link">Home</a>
    </div>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="about" class="footer__links-link">About</a>
    </div>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="articles" class="footer__links-link">Articles</a>
    </div>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="store" class="footer__links-link">Our Store</a>
    </div>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="contact" class="footer__links-link">Contact Us</a>
    </div>
  </div>
  <div class="footer__links">
    <h5>Utility Pages</h5>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="not-found" class="footer__links-link">404 Not Found</a>
    </div>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="log-in" class="footer__links-link">Password Protected</a>
    </div>
    <div class="footer__links-link">
      <img src="../../assets/images/footer/icon.svg" alt="icon">
      <a routerLink="changelog" class="footer__links-link">Changelog</a>
    </div>
  </div>
  <div class="footer__links">
    <h5>Keep in Touch</h5>
    <div class="footer__links-adress">
      <span>Adress : </span>
      <p>24A Kingston St, Los Vegas <br> NC 28202, USA.</p>
    </div>
    <div class="footer__links-adress">
      <span>Mail : </span>
      <p>support@pages.com</p>
    </div>
    <div class="footer__links-adress">
      <span>Phone : </span>
      <p>+(22) 123 - 4567 - 900</p>
    </div>
  </div>
</div>