<section class="learn">
  <div class="learn__title">
    <app-title [title]="'What will you learn?'"></app-title>
  </div>
  <div class="learn__content">
    <div class="learn__content-items">
      <div class="item">
        <div class="item__badge">
          <h6>01</h6>
        </div>
        <div class="item__text">
          <h5>Use HDFS & Map Reduce for storing & analyzing data at scale.</h5>
        </div>
      </div>
      <div class="item">
        <div class="item__badge">
          <h6>02</h6>
        </div>
        <div class="item__text">
          <h5>Consume streaming data using Spark Streaming, Flink, and Storm.</h5>
        </div>
      </div>
      <div class="item">
        <div class="item__badge">
          <h6>03</h6>
        </div>
        <div class="item__text">
          <h5>Choose an appropriate data storage technology for your application</h5>
        </div>
      </div>
      <div class="item">
        <div class="item__badge">
          <h6>04</h6>
        </div>
        <div class="item__text">
          <h5>Analyze non-relational data using HBase, Cassandra, and MongoDB.</h5>
        </div>
      </div>
    </div>
    <div class="learn__content-image">
      <img src="../../../../../assets/images/home/learn/learn.svg" alt="Learn">
      <div class="wrapper"></div>
    </div>
  </div>
</section>