<div class="trusted">
  <div class="trusted__title">
    <app-title [title]="'Trusted by the Best'"></app-title>
  </div>
  <div class="trusted__content">
    <div class="trusted__content-item">
      <div class="image">
        <img src="../../../../../assets/images/home/trusted/amazen.svg" alt="Amazen Corp">
      </div>
      <div class="title">
        <h5>Amazen Corp</h5>
      </div>
      <div class="text">
        <p>A long established fact that a who looking at its layout.</p>
      </div>
    </div>
    <div class="trusted__content-item">
      <div class="image">
        <img src="../../../../../assets/images/home/trusted/megan.svg" alt="Megan Books">
      </div>
      <div class="title">
        <h5>Megan Books</h5>
      </div>
      <div class="text">
        <p>A long established fact that a who looking at its layout.</p>
      </div>
    </div>
    <div class="trusted__content-item">
      <div class="image">
        <img src="../../../../../assets/images/home/trusted/los.svg" alt="Los Books">
      </div>
      <div class="title">
        <h5>Los Books</h5>
      </div>
      <div class="text">
        <p>A long established fact that a who looking at its layout.</p>
      </div>
    </div>
    <div class="trusted__content-item">
      <div class="image">
        <img src="../../../../../assets/images/home/trusted/urban.svg" alt="Urban Lib">
      </div>
      <div class="title">
        <h5>Urban Lib</h5>
      </div>
      <div class="text">
        <p>A long established fact that a who looking at its layout.</p>
      </div>
    </div>
  </div>
</div>