<div class="error">
  <div class="error__wrapper"></div>
  <div class="error__content">
    <div class="error__content-404">
      <h2>404</h2>
    </div>
    <div class="error__content-title">
      <h3>Page not Found!!!</h3>
    </div>
    <div class="error__content-text">
      <p>The page you are looking for doesn't exist. Please try searching for some other page, or return to the website's homepage to find what you're looking for.</p>
    </div>
    <div class="error__content-btn"></div>
  </div>
</div>