<section class="author">
  <div class="author__wrapper"></div>
  <div class="author__image">
    <img src="../../../../../assets/images/about/author.png" alt="author">
  </div>
  <div class="author__content">
    <div class="author__content-details">
      <div class="item">
        <h5>Country : </h5>
        <p>United Kingdom</p>
      </div>
      <div class="item">
        <h5>Language : </h5>
        <p>English</p>
      </div>
      <div class="item">
        <h5>Genre : </h5>
        <p>Historiography</p>
      </div>
      <div class="item">
        <h5>Publication date : </h5>
        <p>1991</p>
      </div>
      <div class="item">
        <h5>Share us on : </h5>
        <div class="socials">
          <a href="https://facebook.com/" target="_blank"><fa-icon [icon]="facebook"></fa-icon></a>
          <a href="https://twitter.com/" target="_blank"><fa-icon [icon]="twitter"></fa-icon></a>
          <a href="https://linkedin.com/" target="_blank"><fa-icon [icon]="linkedin"></fa-icon></a>
        </div>
      </div>
    </div>
    <div class="author__content-title">
      <app-title [title]="'About Dr.John Abraham'" [linePosition]="'left'"></app-title>
      <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, that can combined with a handful of model sentence structures.</p>
      <div class="btn">
        <app-btn-accent routerLink="/contact" [btnText]="'Contact now'" [textColor]="'primary'"></app-btn-accent>
      </div>
    </div>
  </div>
</section>