<section class="chapter">
  <div class="chapter__wrapper"></div>
  <div class="chapter__title">
    <app-title [title]="'The Chapter Includes'"></app-title>
  </div>
  <div class="chapter__items">
    <div class="chapter__items-item">
      <div class="title">
        <h5>Chapter- 01 Get Started Intro</h5>
      </div>
      <div class="text">
        <p>Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
      </div>
      <div class="description">
        <div class="description__item">
          <h6>Pages: </h6>
          <p>85pages</p>
        </div>
        <div class="description__item">
          <h6>Length: </h6>
          <p>1 Hour 15 mins</p>
        </div>
      </div>
    </div>
    <div class="chapter__items-item">
      <div class="title">
        <h5>Chapter- 02 Create a Massive Content</h5>
      </div>
      <div class="text">
        <p>Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
      </div>
      <div class="description">
        <div class="description__item">
          <h6>Pages: </h6>
          <p>85pages</p>
        </div>
        <div class="description__item">
          <h6>Length: </h6>
          <p>1 Hour 15 mins</p>
        </div>
      </div>
    </div>
    <div class="chapter__items-item">
      <div class="title">
        <h5>Chapter- 03 Maintaining the Creative Arcs</h5>
      </div>
      <div class="text">
        <p>Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
      </div>
      <div class="description">
        <div class="description__item">
          <h6>Pages: </h6>
          <p>85pages</p>
        </div>
        <div class="description__item">
          <h6>Length: </h6>
          <p>1 Hour 15 mins</p>
        </div>
      </div>
    </div>
    <div class="chapter__items-item">
      <div class="title">
        <h5>Chapter- 04 The Conclusion</h5>
      </div>
      <div class="text">
        <p>Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
      </div>
      <div class="description">
        <div class="description__item">
          <h6>Pages: </h6>
          <p>85pages</p>
        </div>
        <div class="description__item">
          <h6>Length: </h6>
          <p>1 Hour 15 mins</p>
        </div>
      </div>
    </div>
  </div>
  <div class="chapter__btn">
    <app-btn-accent routerLink="/contact" [btnText]="'Start a 15-Days Free Trail'" [textColor]="'primary'"></app-btn-accent>
  </div>
  <div class="chapter__contact">
    <p>Short description about each chapter</p>
    <div class="link">
      <a routerLink="/contact">Have any questions?</a>
      <span> Contact us</span>
    </div>
  </div>
</section>