<div class="hero">
  <div class="hero__wrapper"></div>
  <div class="hero__left">
    <div class="welcome">Welcome to Pages</div>
    <div class="title">
      <h1>Your Books From
        The Best Writer.</h1>
    </div>
    <div class="content">
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
    </div>
    <div class="buttons">
      <app-btn-accent [title]="'Order Today'"></app-btn-accent>
      <div class="buttons__demo">Read Free Demo</div>
    </div>
    <div class="description">
      <div class="description__pages">Pages:
        <p>586 pages</p>
      </div>
      <div class="description__length">Length:
        <p>10 Hours</p>
      </div>
      <div class="description__ratings">Ratings:
        <p>4.2/5 (305 ratings)</p>
      </div>
    </div>
  </div>
  <div class="hero__right">
    <img src="../../../../../assets/images/home/hero/Book.svg" alt="book">
  </div>
</div>