<div class="review">
  <div class="review__title">
    <div class="review__title-image">
      <img src="{{image}}" alt="image">
    </div>
    <div class="review__title-name">
      <h5>{{name}}</h5>
      <div class="stars">
        <app-ratings *ngFor="let star of rating" [filled]="star"></app-ratings>
      </div>
    </div>
  </div>
  <div class="review__content">
    <div class="review__content-title"><h6>{{title}}</h6></div>
    <div class="review__content-text"><p>{{text}}</p></div>
  </div>
</div>