<div class="subscribe">
  <div class="subscribe__title">
    <app-title [title]="'Read a free chapter'" [textColor]="'primary-line'"></app-title>
  </div>
  <div class="subscribe__text">
    <p>Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
  </div>
  <div class="subscribe__controls">
    <div class="subscribe__controls-form">
      <form>
        <input type="email" placeholder="Your email id...">
      </form>
    </div>
    <div class="subscribe__controls-btn">
      <app-btn-primary [btnText]="'Subscribe'" [bgColor]="'primary'"></app-btn-primary>
    </div>
  </div>
</div>