<div class="product">
  <div class="product__image">
    <img src="{{productImage}}" alt="">
  </div>
  <div class="product__content">
    <div class="product__content-title">
      <h4>{{productTitle}}</h4>
      <span>{{productPrice | currency}}</span>
    </div>
    <div class="product__content-description">
      <p>{{productDescr}}</p>
    </div>
    <div class="product__content-type">
      <h5>{{productType}}</h5>
    </div>
    <div class="product__content-btn">
      <app-btn-primary [btnText]="'Order Today'"></app-btn-primary>
    </div>
  </div>
</div>