@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.container {
  @extend %container;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 112px;
  background-color: $color-primary;
  top: 0;
  left: 0;
  z-index: -1;
  @include lg {
    height: 138px;
  }
}