<section class="features">
  <div class="features__wrapper"></div>
  <div class="features__content">
    <div class="features__content-item">
      <div class="img">
        <img src="../../../../assets/images/features/secure.svg" alt="secure">
      </div>
      <div class="title">
        <h4>Secure Payments</h4>
      </div>
      <div class="text">
        <p>There are many variations of passages of alteration in some form.</p>
      </div>
    </div>
    <div class="features__content-item">
      <div class="img">
        <img src="../../../../assets/images/features/shipping.svg" alt="shipping">
      </div>
      <div class="title">
        <h4>Free Shipping</h4>
      </div>
      <div class="text">
        <p>There are many variations of passages of alteration in some form.</p>
      </div>
    </div>
    <div class="features__content-item">
      <div class="img">
        <img src="../../../../assets/images/features/satisfaction.svg" alt="satisfaction">
      </div>
      <div class="title">
        <h4>100% Satisfactions</h4>
      </div>
      <div class="text">
        <p>There are many variations of passages of alteration in some form.</p>
      </div>
    </div>
  </div>
</section>