@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.features {
  position: relative;
  &__content {
    display: flex;
    gap: $gap;
    @include lg {
      flex-direction: column;
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: $gap;
      .img {
        width: 80px;
        height: 80px;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .title {
        color: $color-primary;
      }
      .text {
        p {
          color: $color-primary;
        }
      }
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: $color-accent;
    z-index: -1;
  }
}