@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.details {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gap;
  &__image {
    max-height: 700px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__date {
    display: flex;
    color: $color-primary;
    @include sm {
      flex-direction: column;
    }
    .separator {
      font-family: $font-header;
      font-size: 25px;
      font-weight: 700;
      padding: 0 10px 0 10px;
      @include sm {
        display: none;
      }
    }
    a {
      text-decoration: none;
      color: $color-primary;
      position: relative;
      &:hover {
        color: $color-accent;
      }
    }
  }
  &__descr {
    display: grid;
    gap: $gap;
    &-title {
      color: $color-primary;
    }
    &-list {
      padding-left: 40px;
      ul {
        display: grid;
        gap: 10px;
        li {
          color: $color-primary;
          font-size: 19px;
          font-family: $font-main;
          font-weight: 400;
          letter-spacing: -0.19px;
          &::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
          }
        }
      }
    }
  }
}