<div tabindex="0" class="burger" [class.active]="isActive" (click)="activeBurger()">
  <div class="burger__icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="menu" [class.active]="isActive">
  <a routerLink="home" class="menu__link">Home</a>
  <a routerLink="about" class="menu__link">About</a>
  <div class="menu__link pages" (click)="activeMenu()">Pages</div>
  <div class="toggle" *ngIf="isActiveMenu">
    <div class="toggle__left">
      <h5>Pages</h5>
      <a class="menu__link" routerLink="articles">Articles</a>
      <a class="menu__link" routerLink="story">Our story</a>
      <a class="menu__link" routerLink="product">Product Single</a>
    </div>
    <div class="toggle__right">
      <h5>Utility Pages</h5>
      <a class="menu__link" routerLink="not-found">404 Page</a>
      <a class="menu__link" routerLink="log-in">Password Protected</a>
      <a class="menu__link" routerLink="changelog">Changelog</a>
    </div>
  </div>
  <a routerLink="contact" class="menu__link">Contact</a>
</div>