<div class="product">
  <div class="product__image">
    <div class="product__image-container">
      <div class="main">
        <img src="{{productImage}}" alt="">
        <img class="audio" [class.active]="productType === 'Audio'" src="../../../assets/images/product/Audio.svg" alt="">
        <img class="cd" [class.active]="productType === 'Audio CD + Printed Book'" src="../../../assets/images/product/cd.svg" alt="">
      </div>
    </div>
  </div>
  <div class="product__content">
    <div class="product__content-title">
      <h4>{{productTitle}}</h4>
      <span>{{productPrice | currency}}</span>
    </div>
    <div class="product__content-description">
      <p>{{productDescr}}</p>
    </div>
    <div class="product__content-type">
      <h5>{{productType}}</h5>
    </div>
    <div class="product__content-btn">
      <app-btn-primary [btnText]="'Order Today'"></app-btn-primary>
    </div>
  </div>
</div>