@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.btn {
  padding: 17px 50px;
  background-color: $color-accent;
  font-family: $font-header;
  font-weight: bold;
  font-size: 19px;
  color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $color-light;
    border: 2px solid $color-accent;
  }
}