<div class="books">
  <div class="books__title">
    <app-title [title]="'The Author\'s Book'"></app-title>
  </div>
  <div class="books__content">
    <div class="left">
      <div class="left__image">
        <img src="../../../../../assets/images/home/books/atomic.svg" alt="atomic">
      </div>
      <div class="left__content">
        <div class="left__content-title">
          <h4>Atomic One's</h4>
        </div>
        <div class="left__content-text">Many variations of passages of Lorem Ipsum willing araise  alteration in some form.</div>
        <div class="left__content-description">
          <div class="pages">Pages:
            <p>586 pages</p>
          </div>
          <div class="length">Length:
            <p>10 Hours</p>
          </div>
        </div>
        <div class="left__content-btn">
          <app-btn-primary [btnText]="'Order Today'"></app-btn-primary>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right__image">
        <img src="../../../../../assets/images/home/books/dark-light.svg" alt="dark-light">
      </div>
      <div class="right__content">
        <div class="right__content-title">
          <h4>The Dark Light</h4>
        </div>
        <div class="right__content-text">Many variations of passages of Lorem Ipsum willing araise  alteration in some form.</div>
        <div class="right__content-description">
          <div class="pages">Pages:
            <p>586 pages</p>
          </div>
          <div class="length">Length:
            <p>10 Hours</p>
          </div>
        </div>
        <div class="right__content-btn">
          <app-btn-primary [btnText]="'Order Today'"></app-btn-primary>
        </div>
      </div>
    </div>
  </div>
</div>