@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.books {
  display: grid;
  gap: calc($gap * 4);
  &__title {
    display: flex;
    justify-content: center;
  }
  &__items {
    display: flex;
    gap: calc($gap * 3);
    @include ul {
      flex-direction: column;
    }
  }
}