<div class="article">
  <div class="article__image">
    <img src="{{image}}" alt="">
  </div>
  <div class="article__content">
    <div class="article__content-title">
      <h5>{{title}}</h5>
    </div>
    <div class="article__content-text">
      <p>{{summary}}</p>
    </div>
    <div class="article__content-controls">
      <div class="link">
        <app-link routerLink="/article-details/{{id}}" [text]="'Read more'" [color]="'primary'"></app-link>
      </div>
      <div class="date">
        <span>{{date | date: 'mediumDate' }}</span>
      </div>
    </div>
  </div>
</div>