<div class="author">
  <div class="author__wrapper"></div>
  <div class="author__image">
    <img src="../../../../../assets/images/home/author/author.svg" alt="author">
  </div>
  <div class="author__content">
    <div class="title">
      <app-title [title]="'About The Author'" [linePosition]="'left'"></app-title>
    </div>
    <div class="text">
      <p>All the Lorem Ipsum generators on the Internet tend to repeated predefined chunks as necessary, making this the first true value generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful.</p>
    </div>
    <div class="counter">
      <div class="counter__books">
        <h2>02</h2>
        <p>Books Published</p>
      </div>
      <div class="counter__user">
        <h2>4.5</h2>
        <p>User Reviews</p>
      </div>
      <div class="counter__seller">
        <h2>04</h2>
        <p>Best Seller Awards</p>
      </div>
    </div>
    <div class="contact">
      <div class="contact__qr">
        <img src="../../../../../assets/images/home/author/qrcode.svg" alt="qrcode">
      </div>
      <div class="contact__content">
        <div class="contact__content-item">
          <h6>John Abraham , Ph.d</h6>
        </div>
        <div class="contact__content-item">
          <p>Mail:</p>
          <span>&nbsp;johnabraham@gmail.com</span>
        </div>
        <div class="contact__content-item">
          <p>Phone: </p>
          <span>&nbsp;(+2) 123 545 9000</span>
        </div>
      </div>
    </div>
  </div>
</div>