<section class="story">
  <div class="story__content">
    <div class="story__content-title">
      <app-title [title]="'My Story'" [linePosition]="'left'"></app-title>
    </div>
    <div class="story__content-text">
      <p>Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p>
    </div>
    <div class="story__content-history">
      <div class="item">
        <div class="item__step">
          <div class="item__step-item">01</div>
          <div class="item__step-line"></div>
        </div>
        <div class="item__content">
          <div class="item__content-title">
            <h5>Great Author Awards - 1996 & 2000</h5>
          </div>
          <div class="item__content-text">
            <p>How to navigate around the interface and toggle on/off the panels you wish to use.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item__step">
          <div class="item__step-item">02</div>
          <div class="item__step-line"></div>
        </div>
        <div class="item__content">
          <div class="item__content-title">
            <h5>10 Times New York Times ® Best Seller</h5>
          </div>
          <div class="item__content-text">
            <p>How to navigate around the interface and toggle on/off the panels you wish to use.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item__step">
          <div class="item__step-item">03</div>
        </div>
        <div class="item__content">
          <div class="item__content-title">
            <h5>Writer of Hack Productivity</h5>
          </div>
          <div class="item__content-text">
            <p>How to navigate around the interface and toggle on/off the panels you wish to use.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="story__image">
    <img src="../../../../../assets/images/about/history.svg" alt="history">
  </div>
</section>