/* You can add global styles to this file, and also import other style files */
@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: bold;
}

h1 {
  font-size: 65px;
  color: white;

  @include lg {
    font-size: 50px;
  }

  @include md {
    font-size: 45px;
  }

  @include sm {
    font-size: 32px;
  }
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 45px;

  @include lg {
    font-size: 36px;
  }

  @include md {
    font-size: 32px;
  }

  @include sm {
    font-size: 28px;
  }
}

h4 {
  font-size: 32px;

  @include md {
    font-size: 24px;
  }
}

h5 {
  font-size: 25px;
  @include md {
    font-size: 22px;
  }
}

h6 {
  font-size: 22px;
  @include md {
    font-size: 20px;
  }
}

p, span {
  font-family: $font-main;
  font-size: 19px;
  color: #969AA0;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.01em;

  @include sm {
    font-size: 17px;
  }
}

section {
  padding: 110px 0 110px 0;
  @include lg {
    padding: 80px 0 80px 0;
  }
  @include md {
    padding: 60px 0 60px 0;
  }
}