<section class="callout">
  <div class="callout__wrapper"></div>
  <div class="callout__left">
    <div class="callout__left-title">
      <app-title [title]="'Get Book Copy Today!'" [linePosition]="'left'" [textColor]="'white'"></app-title>
    </div>
    <div class="callout__left-text">
      <p>This the first true value generator on the Internet. It uses alphas dictionary of over 200 Latin words.</p>
    </div>
    <div class="callout__left-btn">
      <app-btn-primary [btnText]="'Order Today'" [textColor]="'white'"></app-btn-primary>
    </div>
  </div>
  <div class="callout__right">
    <img src="../../../../../assets/images/home/callout/photo.svg" alt="photo">
  </div>
</section>